@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=IBM+Plex+Sans+Condensed:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  background: #f1f5f8;
  color: #222;
}
.booklist {
  width: 90vw;
  max-width: 1170px;
  margin: 4rem auto 3rem;
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .booklist {
    grid-template-columns: repeat(3, 1fr);
  }
}
.book {
  background: #fff;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
}
.book img {
  width: 100%;
  object-fit: cover;
}
.book h2 {
  margin-top: 2rem;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
}
@media screen and (min-width: 768px) {
  .book h2 {
    font-size: 1.25rem;
  }
}
.book h4 {
  color: #617d98;
  font-size: 0.75rem;
}
